/** Useful Variable  */
:root {
  --theme-brown: #672b00;
  --theme-l-brown: #f8cc80e9;
  --theme-text: "Libre Baskerville", serif;
  --theme-b-text: "Pacifico", cursive;
  --gradient : linear-gradient(0deg,rgba(42, 32, 32, 0.773),rgba(42, 32, 32, 0.773));
}

/** Global changes  */
body {
  background-color: #ffeccf !important;
}

*{
color: var(--theme-brown);
font-family: var(--theme-b-text);
}

button:not(.carousel-control-prev,.carousel-control-next,.more-button){
  background-color: var(--theme-l-brown) !important;
  color: var(--theme-brown) !important;
  border: 1px solid var(--theme-brown) !important;
}

button:not(.carousel-control-prev,.carousel-control-next,.more-button):hover{
  border: 1px solid var(--theme-brown);
  background-color: var(--theme-brown) !important;
  color: var(--theme-l-brown) !important;
}

/** Scrollbar style  */
::-webkit-scrollbar{
  width: 0.2rem;
}

::-webkit-scrollbar-track{
  background: #ebc179;
}

::-webkit-scrollbar-thumb{
  background: #773200;
}

::-webkit-scrollbar-thumb:hover{
  background: var(--theme-brown);
}

/** Set footer  */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}


.nav-tabs .active {
  background-color: var(--theme-brown) !important;
  color: var(--theme-l-brown) !important;
}

.link-active,.nav-effect:hover{
  color: var(--theme-brown) !important;
  font-weight:bold ;
}


/** Navbar  */
.navbar {
  background-image: linear-gradient(
    70deg,
    var(--theme-brown),
    var(--theme-l-brown),
    var(--theme-l-brown)
  );
}

.nav-link{
  color: var(--theme-brown);
}


.nav-link-effect {
  display: inline-block;
  position: relative;
  color: var(--theme-brown);
}

/** Footer  */
.fa {
  position: relative;
  font-size: 2rem !important;
  color: var(--theme-brown);
}

.fa:hover:not(#cart-icon) {
  transform: rotate(10deg);
  cursor: pointer;
}

#contact {
  background-color: var(--theme-l-brown);
  padding-bottom: 0;
}

#greet {
  background-color: var(--theme-brown);
  color: var(--theme-l-brown);
  padding: 0.5rem 0;
}

/** Media queries  */

@media screen and (max-width: 992px) {
  .nav-link:hover {
    background-color: var(--theme-l-brown);
  }
}

@media screen and (min-width: 992px) {
  .setUl {
    padding-left: 40px;
  }

  .nav-link-effect::after{
    content: "";
    position: absolute;
    transform: scaleX(0);
    height: 2px;
    width: 63%;
    bottom: 0;
    left: 5;
    background-color: #6c380e;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .nav-link-effect:nth-child(3)::after {
    width: 60%;
  }
  
  .nav-link-effect:last-child::after {
    width: 70%;
  }

  .nav-link-effect:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}